*{
    padding: 0;
    margin: 0;
}
.bg{
    background-color: #F5F8FF;
}
/* fonts */
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* colors */
.primary-color{
    color: #4E47FF;
}

.text-primary{
    color:#252432;
}

/* buttons */
.btn{
    background-color: #4E47FF;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: .5px solid #4E47FF;
    border-radius: 10px; 
}

/* header */
.header{
    background-image: url("/Assets/Hero-bg.png");
    background-size: contain;
    height: 690px;
    
}

/* Navbar styles */
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    padding-top: 50px;
}
.nav-title{
    font-weight:900;
    font-size: 34px;
}
nav ul li{
    list-style: none; 
}
nav ul li a{
    text-decoration: none;
 }
nav ul li .btn{
    height:48px;
    width: 132px;
}

/* banner */
.banner{
    margin: 0 auto;
    text-align: center;
    height: 237px;
    width: 905px;
    padding-top: 158px;
    gap: 50px;
    
}

.banner h1{
    font-size: 65px;
    font-weight: 800;
}

.banner button{
    margin: 50px;
    height: 48px;
    width: 174px;
}

/* action section */

.action-section{
    margin-top:150px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left{
    margin-bottom: 15px;
    width: 520px;
}
 .left h2{
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 20px;
 }

 .left h3{
    font-weight: 400;
    font-size: 25px;
    opacity: 50%;
    margin-bottom: 20px;
    text-align: left;

 }

 .left button{
    height:48px ;
    width:229px ;
 }

 .right img{
    border-radius: 48px;
 }

 /* productive users section */

.productive-user{
    height: 300px;
    width: 1140px;
    background-color: rgba(78, 71, 255, 0.1);
    /* text-align: center; */
    margin: 150px auto;
    border-radius: 24px;
 }

 .productive-user h2{
    height: 45px;
    width: 850px;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin: 0px auto;
    padding-top: 50px;
    
 }

 .stats{
    display: flex;
    justify-content: space-between;
    padding: 35px 150px;
 }

 .active{
    text-align: center;

 }
 .active h1{
    font-size: 80px;
    font-weight: bold;
 }

 .active h3{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
 }

 .reviews{
    text-align: center;
    height: 342px;
    width: 1140px;
    margin: 0px auto;
    
 }

 .reviews h2{
    font-size: 42px;
    font-weight: 700;
    
 }

 .containers{
    display: flex;
    height: 243px;
    width: full;
    justify-content: space-between;
    margin-top: 50px;
    gap: 30px;
 }

 .first{
    padding: 24px;
    text-align: left;
    border-radius: 14px;
    border: 1px #a11a1a;
    background-color:rgba(255, 255, 255, 0.5); 
 }
 .stars{
    padding-bottom: 15px;
 }
 .para{
    padding-bottom: 25px;
 }
 .para h3{
    height: 29px;
    width: 221px;
    font-weight: 600;
    font-size: 23px; 
    padding-bottom: 13px; 
 }

 .user{
    display: flex;
    gap: 10px;
    align-items: center;
 }

 .user img{
    border-radius: 50%;
 }

.name-date h3{
    font-size: 15px;
    font-weight: 700;
    opacity: 40%;
}
.name-date p{
    font-size: 15px;
    font-weight: 400;
    opacity: 20%;
}